body {
    display: flex;
    justify-content: center;
}

.box {
    margin-top: 50px;
    border-radius: 6px;
    border: 2px solid white;
    background-color: rgb(112, 151, 117);
    /* background-color: rgb(107, 70, 70); */
}

.title {
    border-bottom: 1px solid white;
    padding: 1px 4px;
    background-color: rgb(65, 93, 67);
    padding: 6px 15px;
    text-align: center;
    border-top-left-radius: 6px;
    border-radius: 5px 6px 0 0;
}

.content {
    margin: 25px 35px;
}