body {
    display: flex;
    justify-content: center;
}

.box {
    margin-top: 50px;
    border-radius: 2px;
    border: 2px solid white;
    background-color: rgb(175, 104, 66);
}

.title {
    border-bottom: 1px solid white;
    padding: 1px 4px;
    background-color: rgb(71, 43, 20);
    padding: 6px 15px;
    text-align: center;
}

.content {
    margin: 25px 35px;
}