.clickbox {
    --word-bg-color: rgb(65, 93, 67);
    cursor: pointer;
    padding: 0 5px;
    border-radius: 5px;
    background-color: var(--word-bg-color);
    border: 1px solid var(--word-bg-color);
}

.clickbox:hover {
    background-color: rgb(99, 128, 101);
    border: 1px solid white;
}

.active {
    color: white;
}

.inactive {
    color: rgb(156, 156, 156);
}