.input {
    padding: 3px;
    border: 1px solid black;
    color: black;
    min-width: 50%;
}

.inputBlock {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 25px;
}

.submitBlock {
    display: flex;
    justify-content: center;
}