.input {
    padding: 3px;
    border: 1px solid black;
    color: black;
}

.inputBlock {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 25px;
}

.submitBlock {
    display: flex;
    justify-content: center;
}

.status {
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

.error {
    color: rgb(172, 24, 24);
}